# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Epam\Epam-labs\Web_Application\out/*
/../../../../../:\Epam\Epam-labs\Web_Application\.idea/*
/../../../../../:\Epam\Epam-labs\Web_Application\targer/*
# Editor-based HTTP Client requests
/httpRequests/
